/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
  --main-blackground: #f5f5f5;
  --text: #222222;
  --reverse-text: #ffffff;
  --highlight: #0077ff;
  --reverse-highlight: #66bbff;
  --card-background: #ffffff;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--main-blackground);
  color: var(--text);
}

header{
  display: flex;
  justify-content:flex-end;
  align-content: center;
  background-color: var(--highlight);
  color: var(--text);
  padding: 10px;
}

nav#menu ul{
  list-style: none;
  display: flex;
  gap: 10px;
}
nav#menu a{
  text-decoration: none;
  color: var(--reverse-text);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color .42s, color .42s;
}
nav#menu a:hover{
  background-color: var(--reverse-highlight);
  color: var(--highlight)
}

main{
  display: grid;
  grid-template-columns: 1fr 90vw 1fr;
  gap: 20px;
  margin-top: 20px;
}
section#ficha{
  background-color: var(--card-background);
  padding: 20px;
  border-radius: 8px;
  grid-column: 2
}

section#ficha img{
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
  border: 5px solid var(--card-background);
  border-radius: 50%;
  outline: 5px solid var(--highlight);
  display: block;
  margin: auto;
}
section#ficha h1{
  color: var(--highlight);
  margin: 15px 0px;
  font-size: 1.5em;
  text-align: left;
}
div#social{
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 1em;
  margin-top: 15px;
}

div#social a {
  color: var(--highlight);
  transition: all .42s ease;
}
div#social a:hover{
  color: var(--reverse-highlight);
  
}

section#details{
  grid-column: 2;
}

article{
  background-color: var(--card-background);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

article h2{
  color: var(--highlight);
  margin-bottom: 10px;
}


/* trabalado o iframe do fideo */
.video-conteiner{
  position: relative;
  width: 100%;
  margin: auto;
  aspect-ratio: 16/9;
  
}
.video-conteiner iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/* skills-CSS */
#skill-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

#skill-container .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#skill-container .name{
  font-weight: bold;
  color: var(--text);
}

#skill-container .porcent{
  font-weight: bold;
  color: var(--highlight);
}

#skill-container .bar{
  width: 100%;
  height: 8px;
  background-color: var(--main-blackground);
  border-radius: 4px;
}

#skill-container .progress{
  height: 100%;
  background-color: var(--reverse-highlight);
  border-radius:4px ;
}

@media screen and (min-width: 768px) {
  #skill-container{
    grid-template-columns: 1fr 1fr;
  }
}